GinImport.setup do |config|

  # db table name
  config.import_table_name = :<%= @import_table_name %>

  # class name of the associated owner for the import database record
  # if set to false, imports are not associated to a parent record
  config.user_model_name = <%= @user_model_name ? ":#{@user_model_name}" : nil %>
  # method to use to grab the relevant owner record when scoping strategies
  config.current_owner = false # e.g.: current_user through devise

  # designate for which models records can be imported, this model list will populate the model dropdown.
  config.allowed_models += [] # allowed models, an empty whitelist defaults to ApplicationRecord.
  config.include_descendants = true # If true, descendants of allowed_models are also included in the model list.
  config.restricted_models += [] # ndividual models to be restricted from the model list, ApplicationRecord is always excluded from the model list.
end
