class Create<%= @import_table_name.camelize %> < ActiveRecord::Migration[6.0]
  def change
    create_table :<%= @import_table_name %> do |t|
      t.string :model
      <% if @user_model_name %>t.belongs_to <%= @user_model_name %>, null: true, foreign_key: true<% end %>
      t.integer :url_type, default: nil
      t.string :url
      t.json :url_collection
      t.json :cypher
      t.boolean :multiple, default: false
      t.integer :document_type, null: false

      t.timestamps
    end
  end
end
