<% if GinImport.config.actioncable_channel %>
  <%= render 'partials/async_results' %>
<% else %>
  <% if result.class == Array %>
    <% result.each do |r| %>
      <p><%= r.inspect.to_s[0..80] %></p>
    <% end %>
  <% else %>
    <p><%= result.inspect %></p>
  <% end %>

<% end %>
