<% test_model.attributes.each do |key, value| %>
  <% next if ['id', 'created_at', 'updated_at'].include? key %>
  <h4><%= key %></h4>
  <p><%= value %></p>
<% end %>
<%= button_to 'import', gin_import.commit_import_path(import_strategy.id) if test_model.valid? %>
