<h2>Cypher:</h2>
<%= simple_form_for :model, url: gin_import.test_path(id: import_strategy), remote: true do |f| %>
  <%= hidden_field_tag :import_id, import_strategy.id %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= text_area_tag 'preview', preview.to_json, hidden: true, style: 'width: 100%; height: 20vh;' %>
  <% if import_strategy.multiple? %>
    <div class="form-group string required model_collection">
      <%= label_tag :model_collection, 'collection start', class: "form-control-label string required" %>
      <%= text_field_tag 'model[collection]', nil, placeholder: 'sequence of keys as comma separated values', class: "form-control string optional" %>
    </div>
  <% end %>
  <% import_strategy.model.constantize.new.attributes.each do |key, value| %>
    <% unless ['id', "created_at", "updated_at"].include? key %>
      <%= f.input key, input_html: { value: value, name: "model[#{key}][shovel]" }, placeholder: 'sequence of keys as comma separated values' %>
      <div>
        <p><%= "#{key} transformation" %></p>
        <%= label_tag :replace %>
        <%= text_field_tag "model[#{key}][regex][replace]" %>
        <%= label_tag :with %>
        <%= text_field_tag "model[#{key}][regex][with]" %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit 'test cypher' %>
<% end %>
<div id="test-result">
</div>
