<%= simple_form_for import_strategy, url: gin_import.preview_path(id: import_strategy), remote: true do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.input :model, as: :select, collection: models %>
  <%= f.input :multiple, as: :radio_buttons %>
  <%= f.input :url %>
  <%= f.input :url_type, as: :radio_buttons, collection: GinImport::ImportStrategy.url_types.keys %>
  <div class="collection">
    <%= f.fields_for :dynamic_id do |ff| %>
      <%= ff.input :type, as: :radio_buttons, item_wrapper_class: 'form-check inline-radio',collection: GinImport::ImportStrategy::URLCOLLECTIONTYPES %>
      <div class='collection-range'>
        <%= ff.input :range_min %><%= ff.input :range_max %>
      </div>
      <div class='collection-csv'>
        <%= ff.input :csv %>
      </div>
      <div class='collection-api'>
        <%= ff.input :url %><%= ff.input :keys %>
      </div>
    <% end %>
    <%= link_to 'preview collection', preview_collection_path, remote: true, onclick: 'addParam(this)' %>
  </div>
  <textarea class="form-control json optional" name="import_strategy[url_collection]" id="import_strategy_url_collection"><%= @url_collection&.join(',') %></textarea>
  <%= f.input :document_type, as: :radio_buttons, collection: GinImport::ImportStrategy.document_types.keys %>
  <%= f.submit :preview %>
<% end %>

<script type="text/javascript">
  function addParam(link){
    link.href += "?url=" + document.getElementById('import_strategy_dynamic_id_url').value;
    link.href += "&keys=" + document.getElementById('import_strategy_dynamic_id_keys').value;
    return true;
  }
</script>
