<%# if @import_strategy %>
<div class="import_strategy-card" id='import_strategy-<%= import_strategy.id %>' >
  <% import_strategy.attributes.each do |key, value| %>
    <div class="import_strategy-attribute">
      <p><strong><%= key %></strong><%= value %></p>
    </div>
  <% end %>
  <div class="import_strategy-links">
    <%= link_to :preview_strategy, gin_import.preview_import_strategy_path(import_strategy) %>
    <%= link_to :test_strategy, gin_import.test_import_strategy_path(import_strategy) %>
  </div>
</div>
<%# end %>
