<%= stylesheet_link_tag "gin_import/application" %>


<%= render 'gin_import/forms/import_strategy_form', import_strategy: @import_strategy, models: @models %>
<div id="preview">
  <% if @preview %>
    <%= render("gin_import/previews/#{@import_strategy.document_type}", preview: @preview) %>
    <%= render "gin_import/forms/cypher_form", import_strategy: @import_strategy, preview: @preview %>
  <% end %>
</div>
<div id="test_result">
  <% if @test %>
    <%= render "gin_import/previews/model", import_strategy: @import_strategy, test_model: @test %>
  <% end %>
</div>
<div id="result">
  <% if @result %>
    <% if @result.class == 'Array' %>
      <% @result.each do |res| %>
        <%= render 'gin_import/partials/result', result: res %>
      <% end %>
    <% else %>
      <%= render 'gin_import/partials/result', result: @result %>
    <% end %>
  <% end %>
</div>

