document.getElementById('preview').innerHTML = '<%= j render "gin_import/previews/#{@import_strategy.document_type}", preview: @preview, import_strategy: @import_strategy %>';
document.getElementById('preview').innerHTML += '<%= j render "gin_import/forms/cypher_form", preview: @preview, import_strategy: @import_strategy %>';
